body {
    background-color: rgb(1, 3, 3);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(0, 226, 170);
    font-size: 3em;
}
