
body { 
    background-color: rgb(69, 48, 97); 
  } 
div { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 500px; 
    color: rgb(255, 230, 0); 
    font-size: 3em;
     
}