body {
    background-color: rgb(25, 62, 228);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(179, 255, 0);
    font-size: 3em;
}
