body {
    background-color: rgb(183, 196, 255);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(30, 47, 70);
    font-size: 3em;
}
