body {
    background-color: rgb(158, 67, 201);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(4, 226, 255);
    font-size: 3em;
}
