body {
    background-color: rgb(152, 119, 167);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(13, 75, 83);
    font-size: 3em;
}
