body {
    background-color: rgb(20, 0, 133);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(126, 108, 28);
    font-size: 3em;
}

