body {
    background-color: rgb(101, 98, 117);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(255, 0, 0);
    font-size: 3em;
}

