body {
    background-color: rgb(116, 199, 60);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(187, 156, 88);
    font-size: 3em;
}
