body {
    background-color: rgb(44, 13, 10);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(19, 190, 62);
    font-size: 3em;
}
