
body { 
    background-color: rgb(0, 255, 200); 
  } 
div { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 500px; 
    color: rgb(0, 209, 209); 
    font-size: 3em;
     
}