body {
    background-color: rgb(58, 4, 0);
  }
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(79, 114, 211);
    font-size: 3em;
}
